<form  class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>LogIn Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input  name="Email" [(ngModel)]="loginForm.Email" matInput placeholder="Email">
                    </mat-form-field>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <input  type="password" name="password" [(ngModel)]="loginForm.password" matInput placeholder="Password"> 
                    </mat-form-field> 
                </div>
            </div> 
        </mat-card-content>
        <mat-card-actions>
            <button type='submit' mat-raised-button color="accent">Log In</button>
        </mat-card-actions>
        
    </mat-card>
</form>
<div class="FBregist">
    <img  (click)='fbAuth()' src="../../assets/fbRegist.png">
</div>
<div>
    <button  class="logOut" (click)='logOut()'>Log Out</button>
</div>

