form{
    margin-bottom: 50px;
    margin-top:60px;
}
.FBregist img{
    width: 250px;
    height: 70px
}
.logOut{
    background-color:#f20a76;
    width:300px;
    height:40px;
    border-radius: 5px;
    border: none ;
    margin-right: 5px; 
    margin-left: 20px;    

}