<form  class="example-form">
    
    
<section class="single-hotel">
     <div class="single-hotel-wrapper">
         <div class="single-hotel-image">
             <img [src]='singleHotel.imgUrl'>
         </div>
         <div class="info">
             <div class='hotelname'>
                 <h4> Hotel Name</h4>
                 <p>{{singleHotel.hotelName}}</p>
            </div>
             <div class='hotelcountry'>
                 <h4> Hotel Country:</h4>
                 <p>{{singleHotel.hotelCountry}}</p>
            </div>
             <div class="stars">
                <h4>Number of Stars:</h4>
                <p>{{singleHotel.stars}}</p>
            </div>  
            <div>
                <h4>Room Price:</h4>
                <p>{{singleHotel.price}}</p>
            </div>
            <div class="roomType">
                <h4>Room Type:</h4>
                <p>{{singleHotel.roomType}}</p>
            </div>
             <div class="descript">
                 <h4>Description:</h4>
                 <p>{{singleHotel.description}}</p>
             </div>
             <div class="choosedays">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Start Date</mat-label>
                    <input formControlName="dob" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>End Date</mat-label>
                    <input formControlName="dob" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <button class="book" >Book the room</button>
         </div>
     </div>    
</section>
