<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="headerWrapper">
      <div class="upperHeader">
        <div  routerLink="welcome/" class="logo">
          <img src="../assets/logo3.png" >
        </div>
        <div class="info">
          <ul>
            <li>
              <a routerLink="/home" class="home">Home</a>
            </li>
            <li>
              <a routerLink="/registration"  class="Registration">Registration</a>
            </li>
            <li>
              <a routerLink="/login"  class="LogIn">LogIn</a>
            </li>
            <li>
              <a routerLink="/admin"  class="LogIn">Admin Page</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
<router-outlet>
  <main>
  </main>
</router-outlet>
  <footer>
    <div class="footer">
       <div class="copyright">
         <img src="../assets/iconfinder_ic_copyright_48px_3669366.png" >
         <a>2021 Merry Travel </a>
       </div>
       <div class="social" >
        <img src="../assets/fb (2).png" >
        <img src="../assets/insta.png" >
        <img src="../assets/mail.png" >
        <img src="../assets/phone.png" >
       </div>
    </div>
  </footer>
</body>
</html>
