
<form (ngSubmit)="addHotel()" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Hotel Name</mat-label>
      <input matInput placeholder="Name" value="Name" name="name" [(ngModel)]="hotel.hotelName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Hotel Country</mat-label>
        <input matInput placeholder="Country" value="Country" name="country" [(ngModel)]="hotel.hotelCountry">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Hotel Description</mat-label>
        <input matInput placeholder="Description" value="Description" name="description" [(ngModel)]="hotel.description">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Stars</mat-label>
        <input matInput placeholder="Stars" value="Stars" name="stars" [(ngModel)]="hotel.stars">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Room Type</mat-label>
        <input matInput placeholder="Room Type" value="Room Type" name="roomtype" [(ngModel)]="hotel.roomType">
      </mat-form-field>
      <br>
    
      <input class="choose"  type="file" (change)="upload($event)" accept="*.png.jpg" >
    
      <button  class="upload" (click)="uploadImage()">Upload File</button>
     

      <Button  (click)="addHotel()" class="button">Submit</Button>
  </form>
