<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/finalprojectfb-44ec5.appspot.com/o/files0.0941238615085016%5Bobject%20File%5D?alt=media&token=1cd9d6a0-ea59-4005-8350-025edd9e7590" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Wonder Hotel</h3>
      <p>Spain</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/finalprojectfb-44ec5.appspot.com/o/files0.15608871626359178%5Bobject%20File%5D?alt=media&token=f77073ef-1309-4764-8804-0a475882a7fe" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Dream Hotel</h3>
      <p>Greece</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/finalprojectfb-44ec5.appspot.com/o/files0.4720006925150553%5Bobject%20File%5D?alt=media&token=9f0afe39-80e2-43ab-b33f-779127e1b808" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Alina Hotel</h3>
      <p>Portugal</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>


