<div class="filter-wrapper">
  <form>
    <label for="name">Hotel Name</label>
    <select id="name"  placeholder="name">
      <option *ngForm></option>
    </select>
  </form>
</div>

<section class="hotels">
    <div class="wrapper">
      <div class="filters">
        <ul class="filters-ul">
          <li class="filters-li" *ngFor="let filter of filtersArray">
            <span>{{filter.filterName}}</span>
          </li>
        </ul>
      </div>
      <div class="hotels-holder">
        <ul class="hotels-ul">
          <li class="hotels-li" *ngFor="let hotel of hotelsArray">
            <div class="hotel-image-holder">
              <img  [src]="hotel.imgUrl">
            </div>
            <a [routerLink]="'/single-hotel/' + hotel.hotelId">see more...</a>
            <h1 class="name">{{hotel.hotelName}}</h1>
            <H1 class="country">{{hotel.hotelCountry}}</H1>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
  