
<div class="filtersContainer">
  <mat-form-field class="field" appearance="fill">
    <mat-label>hotel name</mat-label>
    <mat-select>
       <mat-option *ngFor="let hotel of hotels" [value]="hotel.value">
        {{hotel.hotelName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field" appearance="fill">
    <mat-label>hotel country</mat-label>
    <mat-select>
       <mat-option *ngFor="let hotel of hotels" [value]="hotel.value">
        {{hotel.hotelCountry}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field  class="field" appearance="fill">
    <mat-label>Stars</mat-label>
    <mat-select>
       <mat-option *ngFor="let hotel of hotels" [value]="hotel.value">
        {{hotel.rating}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field" appearance="fill">
    <mat-label>Room Type</mat-label>
    <mat-select>
       <mat-option *ngFor="let hotel of hotels" [value]="hotel.value">
        {{hotel.roomType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<section class="hotels">
    <div class="wrapper">
        <div class="hotels-holder">
          <ul class="hotels-ul">
            <li class="hotels-li" *ngFor="let hotel of hotels">
              <div class="hotel-image-holder">
                 <img  [src]="hotel.imgUrl">
              </div>
              <a [routerLink]="'/details/' + hotel.key">see more...</a>
              <h1 class="name">{{hotel.hotelName}}</h1>
              <H1 class="country">{{hotel.hotelCountry}}</H1>
            </li>
          </ul>
       </div>
    </div>
  </section>  
  <router-outlet></router-outlet>
  